[Unit]
Description=VictoriaMetrics Home Assistant telemetry store
Documentation=https://docs.victoriametrics.com/victoriametrics/integrations/influxdb/
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=victoriametrics-homeassistant
Group=victoriametrics-homeassistant
EnvironmentFile=/etc/default/victoriametrics-homeassistant
ExecStart=/usr/local/bin/victoria-metrics-prod $ARGS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
StateDirectory=victoria-metrics-homeassistant
UMask=0027
AmbientCapabilities=
CapabilityBoundingSet=
LockPersonality=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
