[Unit]
Description=Authenticated ingress for Home Assistant VictoriaMetrics
Documentation=https://docs.victoriametrics.com/victoriametrics/vmauth/
Wants=network-online.target
After=network-online.target tailscaled.service victoriametrics-homeassistant.service
Requires=victoriametrics-homeassistant.service

[Service]
Type=simple
User=vmauth-homeassistant
Group=vmauth-homeassistant
EnvironmentFile=/etc/default/vmauth-homeassistant
ExecStart=/usr/local/bin/vmauth-prod $ARGS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
UMask=0027
AmbientCapabilities=
CapabilityBoundingSet=
LockPersonality=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
